# Import libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Importing Data

In [2]:
df=pd.read_csv('spam.csv' , encoding = 'latin1')

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

# Explore data

In [4]:
df.shape

(5572, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [9]:
df.duplicated().sum()

403

# Data preprocessing

dropping the unnecessary datacolumns

In [11]:
df=df.drop('Unnamed: 2' , axis='columns')

In [12]:
df=df.drop('Unnamed: 3' , axis='columns')

In [13]:
df=df.drop('Unnamed: 4' , axis='columns')

In [15]:
df.groupby('v1').describe()

        v2
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

# Performing LabelEncoding

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.v1=le.fit_transform(df.v1)
df

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

# Model Building : Naive Bayes Classifier

Dividing the dataset into training and testing dataset

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.v2,df.v1,test_size=0.25)

converting the text msgs into numerical type array

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()

#transforming the datasets

X_train_count=v.fit_transform(X_train)
#X_test_count=v.fit_transform(X_test)

In [41]:
X_train_count.shape

(4179, 7517)

In [42]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [43]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9913854989231874

# Running the model with an example

In [45]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1])

In [50]:
from sklearn.metrics import confusion_matrix , classification_report

In [51]:
y_pred = model.predict(X_test_count)

In [52]:
# Confusion matrix
confusion_matrix(y_test,y_pred)

array([[1188,    2],
       [  10,  193]], dtype=int64)

In [54]:
# Classification Report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1190
           1       0.99      0.95      0.97       203

    accuracy                           0.99      1393
   macro avg       0.99      0.97      0.98      1393
weighted avg       0.99      0.99      0.99      1393